.diagramme {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.diagramme h1 {
  /* Box model */
  margin: 0.5em 0;

  /* Typography */
  text-align: center;
}

.diagramme .chart {
  /* Box model */
  width: 70%;
  padding: 0 2em;
}
