<div class="card-container">
  <a class="card" routerLink="/call_hours">
    <h3> Nombre d'appel  par journée :</h3>
    <h1 id="nb-appel">475</h1>
  </a>
  <a class="card" routerLink="temp_appel">
    <h3>Temps d'attente moyen d'un appel :</h3>
    <h1>48 secondes</h1>
  </a>
</div>

<div class="card-container" >
  <a class="card" routerLink="/cause_fin_dappel">
    <span>Cause de fin d'appel</span>
  </a>

  <a class="card" routerLink="/statut_appel">
    <span>Statut d'appel</span>
  </a>

  <a class="card" routerLink="/quelque chose">
    <span>Error 404</span>
  </a>

</div>
