<div class="card-container">
  <a class="card" routerLink="/call_hours">
    <h3> Nombre d'appel  par journée :</h3>
    <h1 id="nb-appel">475</h1>
  </a>
  <a class="card" >
    <h3>Temps d'attente moyen d'un appel :</h3>
    <h1>48 secondes</h1>
  </a>
</div>

<div class="card-container" >
  <a class="card" routerLink="/cause_fin_dappel">
    <span>Cause de fin d'appel</span>
    <img src="./../../../assets/image/piechart.png">
  </a>

  <a class="card" routerLink="/statut_appel">
    <span>Statut d'appel</span>
    <img src="./../../../assets/image/piechart.png">
    
  </a>

  <a class="card" routerLink="/partnair_call">
    <span>Routing d'un partenaire</span>
    <img src="./../../../assets/image/charBar.png">
  </a>

</div>
