<div class="diagramme">
  <h1>Statuts des appels</h1>
  <div class="corps">
    <div class="chart">
      <canvas baseChart
              [data]="pieChartData"
              [type]="'pie'">
      </canvas>
    </div>
    <div class="cartes">
      <div class="carte carte-large">
        <h2>Vue d'ensemble</h2>
        <h1>{{getTotalAppels()}}</h1>
      </div>
      <div class="indicateurs">
        <div class="carte" *ngFor="let appel of getAppelPaires()">
          <h2>{{appel.label}}</h2>
          <div class="corps-carte">
            <h1>{{appel.valeur}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
