.conteneur-home {
  /* Display and visibility */
  display: flex;

  justify-content: space-between;

  padding-top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.colonne-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.corps {
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-bottom: 1.5em;

  /* Background */
  background-color: white;
}

.diagramme {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  /* Box model */
  margin: 5% 5% 5%;
}

.diagramme h1 {
  /* Box model */
  margin: 0.5em 0;

  /* Typography */
  text-align: center;
}

.diagramme .chart {
  /* Box model */
  width: 40em;
  padding: 0 2em;
}
