.diagram {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  /* Box model */
  margin: 5% 25% 5%;
}

.diagram h1 {
  /* Box model */
  margin: 8px 0;

  /* Typography */
  text-align: center;
}
