.diagramme {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  /* Box model */
  margin: 5% 25% 5%;
}

.diagramme h1 {
  /* Box model */
  margin: 0.5em 0;

  /* Typography */
  text-align: center;
}

.diagramme .chart {
  /* Box model */
  padding: 0 2em;
}
