.error-grid {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Box model */
  margin: var(--82-px) auto var(--32-px);
  max-width: var(--960-px);
  padding: 0 var(--16-px);
}

.error-card {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;

  /* Box model */
  margin-bottom: var(--8-px);
  border: var(--1-px) solid var(--grey-238);
  border-radius: var(--5-px);
  max-width: var(--400-px);
  padding: var(--16-px);
}
