<div class="card-container" >
  <a class="card" target="_blank" rel="noopener">
    <span>Diagramme 1</span>
  </a>

  <a class="card" target="_blank" rel="noopener">
    <span>Diagramme 2</span>
  </a>

  <a class="card" target="_blank" rel="noopener">
    <span>Diagramme 3</span>
  </a>

  <a class="card" target="_blank" rel="noopener">
    <span>Diagramme 4</span>
  </a>

  <a class="card" target="_blank" rel="noopener">
    <span>Diagramme 5</span>
  </a>
</div>

<router-outlet></router-outlet>
















