.invisible {
  /* Display and visibility */
  visibility: hidden;
}

.multi-selection {
  /* Flexbox */
  justify-content: flex-start;

  /* Box model */
  width: 100%;
}

.multi-selection-en-tete {
  margin-bottom: 1em;
}

.multi-selection-titre {
  /* Box model */
  margin: 0;

  /* Typography */
  font-size: 1.1em;
  font-weight: normal;
  color: black;
}

.cocher-decocher-tout {
  /* Flexbox */
  display: flex;
  justify-content: flex-start;

  /* Box model */
  width: 100%;
}

.cocher-decocher-tout span {
  /* Background */
  cursor: pointer;

  /* Typography */
  font-weight: 400;
  color: var(--teal-secondary);
}

.cocher-decocher-tout span:first-child {
  margin-right: 1em;
}

ul {
  list-style: none;
  padding: 0;

  max-height: 25vh;
  overflow-y: auto;
}

mat-checkbox {
  /* Typography */
  color: black;
}
