<overlay-upload #upload></overlay-upload>

<div class="barre-navigation">
  <a routerLink="/">Home</a>

  <menu-deroulant></menu-deroulant>

  <a routerLink="/" (click)="upload.ouvrirOverlay()">Importer un CSV</a>
</div>

<div class="conteneur-home">
  <filtre-multi-selection class="filtre-gauche"></filtre-multi-selection>

  <div class="corps">
    <router-outlet></router-outlet>
  </div>

  <filtre-date-heure class="filtre-droite-haut"></filtre-date-heure>
  <filtre-horaires-non-ouvres class="filtre-droite-bas"></filtre-horaires-non-ouvres>
</div>
