.barre-navigation {
  /* Flexbox properties */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Box model */
  margin-bottom: 1.5625em;
  -webkit-box-shadow: 0 0.0625em 0.3125em 0.3125em rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.0625em 0.3125em 0.3125em rgba(0, 0, 0, 0.5);
  height: 7vh;
  padding: 0 3.25em;

  /* Background */
  background-color: var(--green-primary);
}

.barre-navigation a {
  /* Flexbox properties */
  display: flex;
  align-items: center;

  /* Box model */
  height: 100%;
  padding: 0.3125em 1.625em;

  /* Typography */
  font-size: 1.3125em;
  color: white;
}

.barre-navigation a:hover {
  /* Animation */
  transition: all 0.2s ease-in-out;

  /* Background */
  background-color: var(--green-accent);
}

.barre-navigation a:link {
  /* Typography */
  text-decoration: none;
}

.conteneur-home {
  /* Display and visibility */
  display: grid;

  grid-template-columns: repeat(5, 20vw);
  grid-template-areas:
    "a b b b c"
    "a b b b c"
    "a b b b d";

  width: 100vw;
  height: 80vh;
  justify-items: center;
}

.filtre-gauche {
  grid-area: a;
}

.corps {
  grid-area: b;

  width: 60vw;
  height: 80vh;

  /* Background */
  background-color: white;
}

.filtre-droite-haut {
  grid-area: c;
  align-self: start;
}

.filtre-droite-bas {
  grid-area: d;
  align-self: end;
}
