/*************************************************************************************************/
/* Navbar ****************************************************************************************/
/*************************************************************************************************/
.navbar {
  /* Flexbox properties */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Box model */
  margin-bottom: var(--25-px);
  -webkit-box-shadow: 0 var(--1-px) var(--5-px) var(--5-px) rgba(0, 0, 0, 0.5);
  box-shadow: 0 var(--1-px) var(--5-px) var(--5-px) rgba(0, 0, 0, 0.5);
  height: 50px;
  padding: var(--5-px) var(--52-px);

  /* Background */
  background-color: var(--green-primary);
}

@media screen and (max-width: 768px) {
  .navbar {
    font-size: 0.85em;
  }
}

.navbar a {
  /* Flexbox properties */
  display: flex;
  align-items: center;

  /* Box model */
  height: 100%;
  padding: var(--5-px) var(--26-px);

  /* Typography */
  font-size: var(--16-pt);
  color: white;
}

.navbar a:hover {
  /* Animation */
  transition: all 0.2s ease-in-out;

  /* Background */
  background-color: var(--green-accent);
}

.navbar a:link {
  /* Typography */
  text-decoration: none;
}

/*************************************************************************************************/
/* Upload overlay ********************************************************************************/
/*************************************************************************************************/
.overlay {
  /* Position and layout */
  position: absolute;
  z-index: 99;

  /* Flexbox properties */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Box model */
  width: 100vw;
  height: 100vh;

  /* Background */
  background: rgba(255, 255, 255, 0.5);
}

.upload-border {
  /* Box model */
  border-radius: var(--4-px);
  width: fit-content;
  height: fit-content;
  padding: var(--2-px);

  /* Padding */
  background-color: var(--container-border);
}

.upload-container {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* Box model */
  width: var(--480-px);
  height: var(--320-px);
  padding: var(--21-px);

  /* Background */
  background-color: var(--container-fill);
}

.upload-container h1 {
  /* Typography */
  color: black;
}

.upload-area {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: start;

  /* Box model */
  width: 100%;
  height: fit-content;
}

/*noinspection CssNonIntegerLengthInPixels*/
.upload-input {
  /* Position and layout */
  position: absolute;
  z-index: -1;

  /* Display and visibility */
  opacity: 0;

  /* Clipping */
  overflow: hidden;

  /* Box model */
  width: 0.1px;
  height: 0.1px;
}

.upload-input + label {
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Box model */
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--10-px);
  padding: 0.5em 1em;

  /* Background */
  background-color: white;

  /* Typography */
  font-size: 1.25em;
  font-weight: 300;
  color: var(--grey-128);
}

@media screen and (max-width: 768px) {
  .upload-input + label {
    padding: 0.25em 0.75em;
    font-size: 1em;
  }
}

label {
  /* Box model */
  width: calc(100% - 2em);
}

.upload-input + label {
  /* Background */
  cursor: pointer;
}

.upload-input:focus + label,
.upload-input + label:hover {
  /* Typography */
  color: var(--grey-185);
}

.upload-input:focus + label search,
.upload-input + label:hover search {
  filter: invert(56%) sepia(71%) saturate(6609%) hue-rotate(161deg) brightness(97%) contrast(101%);
}

.error {
  /* Box model */
  margin-top: .25em;
  margin-left: 1em;

  /* Typography */
  font-size: small;
  color: var(--red-primary);
}

.hidden {
  /* Display and visibility */
  visibility: hidden;
}

.upload-button {
  /* Box model */
  margin-top: var(--21-px);
  border: none;
  width: 50%;
  padding: var(--12-px);

  /* Background */
  background-color: var(--green-primary);
  cursor: pointer;

  /* Typography */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.upload-button:hover {
  filter: brightness(125%);
}

.home-container {
  /* Display and visibility */
  display: flex;

  justify-content: space-between;

  padding: 0 1.5em 1.5em;

  /*grid-template-columns: 1fr 2fr 1fr;*/
}

.home-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/*************************************************************************************************/
/* General use classes ***************************************************************************/
/*************************************************************************************************/
.hidden {
  /* Display and visibility */
  visibility: hidden;
}

/*************************************************************************************************/
/* Filter ****************************************************************************************/
/*************************************************************************************************/
.filter-container {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* Box model */
  border: 2px solid var(--container-border);
  width: 25em;
  height: fit-content;
  padding: 1.25em;

  /* Background */
  background-color: var(--container-fill);
}

.filter-container:not(:last-child) {
  margin-bottom: 1em;
}

.multi-select {
  /* Flexbox */
  justify-content: flex-start;

  /* Box model */
  width: 100%;
}

.multi-title {
  /* Box model */
  margin: 0;

  /* Typography */
  font-weight: normal;
  color: black;
}

.select-deselect {
  /* Flexbox */
  display: flex;
  justify-content: flex-start;

  /* Box model */
  width: 100%;
}

.ms-all {
  /* Background */
  cursor: pointer;

  /* Typography */
  font-weight: 500;
  color: var(--teal-secondary);
}

.ms-all:first-child {
  margin-right: 1em;
}

.multi-header {
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

mat-checkbox {
  /* Box model */
  margin-left: var(--21-px);

  /* Typography */
  color: black;
}

hr {
  /* Box model */
  margin: 1em 0;
  border-top: none;
  border-right: none;
  border-bottom: var(--1-px) solid var(--container-border);
  border-left: none;
  width: 100%;
}

.confirm-button {
  /* Box model */
  margin-top: var(--21-px);
  border: none;
  min-width: fit-content;
  width: 50%;
  padding: var(--12-px);

  /* Background */
  background-color: var(--green-primary);
  cursor: pointer;

  /* Typography */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.confirm-button:hover {
  filter: brightness(125%);
}

.date-container {
  /* Flexbox */
  display: flex;
  justify-content: center;

  /* Box model */
  width: 100%;
  padding-bottom: var(--16-px);
}

.input-date {
  /* Box model */
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--10-px);
  width: 90%;

  /* Background */
  background: white;
}

.time-container {
  /* Flexbox */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  /* Box model */
  width: 100%;
}

.input-value {
  /* Flexbox */
  display: flex;

  /* Box model */
  margin-bottom: 0.25em;
  min-height: 2em;
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--4-px);
  padding: var(--6-px);

  /* Background */
  background: white;
}

input {
  /* Box model */
  border: none;
  max-width: 8em;

  /* Background */
  background: none;
}

input:focus {
  outline: none;
}
