<div class="page-diagramme">
  <h1>{{titre}}</h1>
  <div class="corps">
    <div class="diagramme">
      <canvas baseChart [data]="pieChartData" [type]="'pie'" [options]="pieChartOptions">
      </canvas>
    </div>

    <div class="cartes">
      <a class="carte carte-large" [ngClass]="{ lien: lienParent !== racine }" [routerLink]="lienParent">
        <h2>Vue d'ensemble</h2>
        <h1>{{getTotalAppels()}}</h1>
      </a>

      <div class="indicateurs">
        <a class="carte" [ngClass]="{ lien: getLienLabel(appel.label) !== racine }" *ngFor="let appel of getAppelPaires()" [routerLink]="getLienLabel(appel.label)">
          <h2>{{appel.label}}</h2>
          <div class="corps-carte" [ngClass]="{ 'contient-lien': getLienLabel(appel.label) !== racine }">
            <h1>{{appel.valeur}}</h1>
          </div>
          <span class="voir-plus">
            <voir-plus *ngIf="getLienLabel(appel.label) !== racine"></voir-plus>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
