.page-diagramme {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Box model */
  margin: 5% 5% 5%;
}

.page-diagramme h1 {
  /* Box model */
  margin: 0.5em 0;

  /* Typography */
  text-align: center;
}

.corps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.diagramme {
  /* Box model */
  width: 40em;
  padding: 0 2em;
}

.cartes {
  width: 34.3em;
}

.indicateurs {
  display: grid;
  grid-template-columns: 50% 50%;

  width: 34.3em;
}

.carte {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Animation */
  transition: all 0.1s ease-in-out;

  /* Box model */
  margin: 0.65em;
  border: 0.0625em solid var(--grey-238);
  border-radius: 0.625em;
  /*width: 12.7em;*/
  height: 10em;
  padding: 1em;

  /* Background */
  background-color: var(--grey-233);
  cursor: pointer;

  /* Typography */
  line-height: 1.5em;
  text-decoration: none;
  color: var(--teal-primary);
}

.carte h2 {
  margin-top: 0.5em;
  height: 25%;

  /* Typography */
  text-align: center;
  font-size: 1.5em;
}

.corps-carte {
  min-width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corps-carte h1, .carte-large h1 {
  /* Typography */
  font-size: 3em;
}

.carte-large {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Box model */
  min-width: 30em;
  height: fit-content;
}

.carte-large * {
  margin: 0;
}

.carte:hover {
  /* Box model */
  -webkit-box-shadow: 0 0 0.75em 0 var(--teal-accent-transparent);
  box-shadow: 0 0 0.75em 0 var(--teal-accent-transparent);
}

.carte.lien:hover {
  /* Box model */
  -webkit-box-shadow: 0 0 0.75em 0 var(--green-accent-transparent);
  box-shadow: 0 0 0.75em 0 var(--green-accent-transparent);
}
