.overlay {
  /* Position and layout */
  position: absolute;
  z-index: 99;

  /* Flexbox properties */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Box model */
  width: 100vw;
  height: 100vh;

  /* Background */
  background: rgba(255, 255, 255, 0.5);
}

.spinner-overlay {
  /* Position and layout */
  position: absolute;
  z-index: 99;

  /* Flexbox properties */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Box model */
  width: 100%;
  height: 100%;

  /* Background */
  background: rgba(255, 255, 255, 0.5);
}

.spinner {
  --spinner-size: 5vmax;
  --spinner-thickness: calc(var(--spinner-size) * 7 / 44);

  width: var(--spinner-size);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--red-primary) 94%, #0000) top / var(--spinner-thickness) var(--spinner-thickness) no-repeat,
  conic-gradient(#0000 30%, var(--red-primary));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - (var(--spinner-size) * 14 / 88)), #000 0);
  animation: spinner-c7wet2 0.8s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.conteneur-upload {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  /* Box model */
  border: 2px solid var(--container-border);
  width: 30em;
  min-height: 20em;
  max-height: 40em;
  padding: 1.3em;

  /* Background */
  background-color: var(--container-fill);
}

.conteneur-upload h1 {
  /* Typography */
  color: black;
}

.fichiers-uploades {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 0;
  overflow: scroll;
}

.fichier-uploade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.fichier-uploade:hover {
  background-color: var(--container-fill-hover);
}

.fichier-uploade span {
  font-size: 1.15em;
  color: black;
}

.bouton-supprimer {
  cursor: pointer;
}

.upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zone-upload {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Box model */
  width: 100%;
  height: fit-content;
}

/*noinspection CssNonIntegerLengthInPixels*/
.input-upload {
  /* Position and layout */
  position: absolute;
  z-index: -1;

  /* Display and visibility */
  opacity: 0;

  /* Clipping */
  overflow: hidden;

  /* Box model */
  width: 0.1px;
  height: 0.1px;

  /* Background */
  cursor: pointer;
}

.input-upload + label {
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Box model */
  -webkit-box-shadow: inset 0 0 0.125em 0 black;
  box-shadow: inset 0 0 0.125em 0 black;
  border-radius: 0.625em;
  padding: 0.5em 1em;

  /* Background */
  background-color: white;

  /* Typography */
  text-overflow: ellipsis;
  font-size: 1.25em;
  font-weight: 300;
  color: var(--grey-128);
}

@media screen and (max-width: 768px) {
  .input-upload + label {
    padding: 0.25em 0.75em;
    font-size: 1em;
  }
}

label {
  /* Box model */
  width: calc(100% - 2em);
  cursor: pointer;
}

.input-upload:focus + label,
.input-upload + label:hover {
  /* Typography */
  color: var(--grey-185);
}

.input-upload:focus + label .recherche,
.input-upload + label:hover .recherche {
  filter: invert(56%) sepia(71%) saturate(6609%) hue-rotate(161deg) brightness(97%) contrast(101%);
}

.erreur {
  /* Box model */
  margin-top: .25em;
  margin-left: 1em;

  /* Typography */
  font-size: small;
  color: var(--red-primary);
}

.invisible {
  /* Display and visibility */
  visibility: hidden;
}

.bouton-upload {
  /* Box model */
  margin-top: 1.3em;
  border: none;
  width: 50%;
  padding: 0.75em;

  /* Background */
  background-color: var(--green-primary);
  cursor: pointer;

  /* Typography */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.bouton-upload:hover {
  filter: brightness(125%);
}
