<div class='overlay' *ngIf="is_overlay_ouvert">
  <div class='spinner-overlay' *ngIf="upload_en_cours">
    <div class="spinner"></div>
  </div>
  <div class='conteneur-upload' [ngStyle]="isFichiersEmpty() ? {height: '20em'} : {height: '40em'}" (clickOutside)="fermerOverlay()">
    <h1>Importer un CSV</h1>

    <ul class='fichiers-uploades' [hidden]="isFichiersEmpty()">
      <li class='fichier-uploade' *ngFor="let fichier of fichiers">
        <span class='nom-fichier'>{{fichier.name}}</span>
        <span class='bouton-supprimer' (click)="supprimerFichier(fichier)">❌</span>
      </li>
    </ul>

    <div class='zone-upload'>
      <input type="file" name="fichiers" id="fichiers" class="input-upload" accept=".xlsx" (change)="onSelectionFichier($event)" multiple />
      <label for="fichiers">
        {{getFileName()}}
        <recherche></recherche>
      </label>
      <span class="erreur" [ngClass]="{'invisible': !erreur}">Veuillez sélectionner un fichier.</span>
    </div>

    <button class='bouton-upload' (click)="upload()">Importer</button>
  </div>
</div>
