.diagramme {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.diagramme h1 {
  /* Box model */
  margin: 0.5em 0;

  /* Typography */
  text-align: center;
}

.diagramme .chart {
  /* Box model */
  width: 100%;
  padding: 0 2em;
}

.sous-titre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-bottom: 1em;
}

.sous-titre h2 {
  margin: 0 1em 0.2em 0;
}
