<div class="conteneur-cartes">
  <carte-indicateur
    titre="Nombre d'appels"
    typeCarte="valeur"
    routerLink="/date_repartition_appel"
  >
    {{nombreAppels}}
  </carte-indicateur>


  <carte-indicateur
    typeCarte="diagramme"
    titre="Statut d'appel"
    routerLink="/statut_appel"
    [data]="donneesDiagrammeStatut"
    [labels]="true"
    [legende]="[{ label: 'COM :', valeur: pourcentage_en_communication }, { label: 'Autres :', valeur: pourcentage_autres }]"
  >
  </carte-indicateur>

  <carte-indicateur
    typeCarte="valeur"
    titre="Nombre d'appels débordés"
    routerLink="/attente_probleme"
  >
    {{nbDebordement}}
  </carte-indicateur>

  <carte-indicateur
    typeCarte="valeur"
    titre="Temps d'attente moyen d'un appel"
    routerLink="/repartition_appel"
  >
    {{tempsAttenteMoyen}} s
  </carte-indicateur>

  <carte-indicateur
    typeCarte="valeur"
    titre="Attente supérieur à"
    labelSeuil="secondes"
    [seuil]="true"
    [valeurSeuil]="seuil"
    (onModificationSeuil)="appliquerSeuil($event)"
    (onReinitialisationSeuil)="reinitialiserSeuil()"
  >
    {{nbSupSeuil}} appels
  </carte-indicateur>

  <carte-indicateur
    typeCarte="valeur"
    titre="Temps de communication moyen d'un appel"
    routerLink="/com_agent"
  >
    {{tempsCommunicationMoyen}} s
  </carte-indicateur>

  <carte-indicateur
    typeCarte="diagramme"
    titre="Motifs de fin d'appel"
    routerLink="/motif-fin_appel"
    [data]="donneesDiagrammeMotifFinAppel"
  >
  </carte-indicateur>

  <carte-indicateur
    typeCarte="valeur"
    titre="Transferts (réussis&nbsp;/&nbsp;tentatives)"
  >
    {{nbTransfertOk}} <em>/</em> {{nbTransfert}}
  </carte-indicateur>

  <carte-indicateur
    typeCarte="valeur"
    titre="Moyenne de tentatives de transferts"
    routerLink="/cheminement_appel"
  >
    {{moyenneTransfertTentatives}}
  </carte-indicateur>
</div>
