/*************************************************************************************************/
/* General use classes ***************************************************************************/
/*************************************************************************************************/
.hidden {
  /* Display and visibility */
  visibility: hidden;
}

/*************************************************************************************************/
/* Filter ****************************************************************************************/
/*************************************************************************************************/
.filter-container {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* Box model */
  border: 2px solid var(--container-border);
  width: 25em;
  height: fit-content;
  padding: 1.25em;

  /* Background */
  background-color: var(--container-fill);
}

.filter-container:not(:last-child) {
  margin-bottom: 1em;
}

.multi-select {
  /* Flexbox */
  justify-content: flex-start;

  /* Box model */
  width: 100%;
}

.multi-title {
  /* Box model */
  margin: 0;

  /* Typography */
  font-weight: normal;
  color: black;
}

.select-deselect {
  /* Flexbox */
  display: flex;
  justify-content: flex-start;

  /* Box model */
  width: 100%;
}

.ms-all {
  /* Background */
  cursor: pointer;

  /* Typography */
  font-weight: 500;
  color: var(--teal-secondary);
}

.ms-all:first-child {
  margin-right: 1em;
}

.multi-header {
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

mat-checkbox {
  /* Box model */
  margin-left: var(--21-px);

  /* Typography */
  color: black;
}

hr {
  /* Box model */
  margin: 1em 0;
  border-top: none;
  border-right: none;
  border-bottom: var(--1-px) solid var(--container-border);
  border-left: none;
  width: 100%;
}

.confirm-button {
  /* Box model */
  margin-top: var(--21-px);
  border: none;
  min-width: fit-content;
  width: 50%;
  padding: var(--12-px);

  /* Background */
  background-color: var(--green-primary);
  cursor: pointer;

  /* Typography */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.confirm-button:hover {
  filter: brightness(125%);
}

.date-container {
  /* Flexbox */
  display: flex;
  justify-content: center;

  /* Box model */
  width: 100%;
  padding-bottom: var(--16-px);
}

.input-date {
  /* Box model */
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--10-px);
  width: 90%;

  /* Background */
  background: white;
}

.time-container {
  /* Flexbox */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  /* Box model */
  width: 100%;
}

.input-value {
  /* Flexbox */
  display: flex;

  /* Box model */
  margin-bottom: 0.25em;
  min-height: 2em;
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--4-px);
  padding: var(--6-px);

  /* Background */
  background: white;
}

.threshold-value {
  /* Flexbox */
  display: flex;

  /* Box model */
  width: 5em;
  height: 1.5em;
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--4-px) 0 0 var(--4-px);
  padding: var(--6-px);

  /* Background */
  background: white;
}

input {
  /* Box model */
  border: none;
  max-width: 8em;

  /* Background */
  background: none;
}

input:focus {
  outline: none;
}

.threshold-container {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Box model */
  width: 100%;
}

.input-title {
  min-width: 100%;
  height: 25%;
  margin-bottom: 0.5em;
}

.threshold-container h2 {
  margin: 0 !important;
  height: unset;
}

.first {
  margin-bottom: 0.5em;
}

.second {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.threshold input {
  width: 100%;
  max-width: unset;
}

.threshold-button {
  margin-right: 1em;
  width: calc(1.5em + var(--6-px) * 2 + var(--2-px));
  height: calc(1.5em + var(--6-px) * 2 + var(--2-px));
  border: none;
  border-radius: 0 var(--4-px) var(--4-px) 0;

  /* Background */
  background-color: var(--green-primary);
  cursor: pointer;

  /* Typography */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

/*************************************************************************************************/
/* Home ******************************************************************************************/
/*************************************************************************************************/
.home-container {
  /* Display and visibility */
  display: flex;

  justify-content: space-between;

  padding: 0 1.5em 1.5em;

  /*grid-template-columns: 1fr 2fr 1fr;*/
}

.home-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main {
  /* Flexbox */
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: flex-start;

  /* Background */
  background-color: white;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*@media screen and (max-width: 1200px) {*/
/*  .filter-container {*/
/*    width: 25vw;*/
/*  }*/

/*  .select-deselect {*/
/*    font-size: 1.5em;*/
/*  }*/

/*  ul {*/
/*    font-size: 1.5em;*/
/*  }*/

/*  .home-container {*/
/*    grid-template-columns: 1fr auto 1fr;*/
/*  }*/

/*  .main-container {*/
/*    padding: 0 var(--10-px) var(--25-px);*/
/*  }*/

/*  .card {*/
/*    max-width: 10em;*/
/*    min-height: 10em !important;*/
/*    padding: 0;*/
/*  }*/

/*  .card h2 {*/
/*    !* Typography *!*/
/*    font-size: 1em;*/
/*  }*/

/*  .card h1 {*/
/*    font-size: 2em;*/
/*  }*/

/*  .data-holder {*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*  }*/

/*  .data-card h3 {*/
/*    font-size: .65em;*/
/*    padding: 0;*/
/*  }*/

/*  .diagram {*/
/*    width: 5em !important;*/
/*    height: 5em !important;*/
/*  }*/

/*  .labels {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*  }*/
/*}*/

h1 {
  /* Typography */
  font-size: 3em;
}

.content {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Box model */
  margin: var(--82-px) auto var(--32-px);
  max-width: var(--960-px);
  padding: 0 var(--16-px);
}

.card {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Animation */
  transition: all 0.1s ease-in-out;

  /* Box model */
  margin: 1em;
  border: var(--1-px) solid var(--grey-238);
  border-radius: var(--10-px);
  width: 20em;
  height: 15em;
  padding: 1.5em;

  /* Background */
  background-color: var(--grey-233);
  cursor: pointer;

  /* Typography */
  line-height: var(--24-px);
  text-decoration: none;
  color: var(--teal-primary);
}

.card:hover {
  /* Box model */
  -webkit-box-shadow: 0 0 var(--15-px) var(--5-px) var(--teal-accent);
  box-shadow: 0 0 var(--15-px) var(--5-px) var(--teal-accent);
}

.card h2 {
  margin-top: 0.5em;
  height: 25%;

  /* Typography */
  text-align: center;
  font-size: 1.5em;
}

.card-content {
  min-width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-holder {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  min-height: 100%;
}

.labels {
  display: flex;
  flex-direction: column;

  justify-content: center;

  min-width: fit-content;

  /* Box model */
  margin-left: 0.5em;
}

.data-card {
  /* Flexbox */
  display: flex;
}

.data-card:not(:last-child) {
  margin-bottom: 0.5em;
}

.data-card h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

.diagram {
  /* Box model */
  width: 60%;
  aspect-ratio: 1 / 1;
}
