<div class="home-container">
  <div class="home-item">
    <multi-select-filter></multi-select-filter>
  </div>

  <div class="main">
    <div class="card-container">
      <a class="card" routerLink="/call_hours">
        <h2> Nombre d'appels</h2>
        <div class="card-content">
          <h1 id="nb-appel">{{nbCall}}</h1>
        </div>
      </a>

      <a class="card">
        <h2>Temps d'attente moyen d'un appel</h2>
        <div class="card-content">
          <h1>{{averageCall}} s</h1>
        </div>
      </a>

      <a class="card" routerLink="/statut_appel">
        <h2>Statut d'appel</h2>
        <div class="card-content">
          <div class="data-holder">
            <div class="diagram">
              <canvas baseChart
                      [data]="pieChartData"
                      [type]="pieChartType"
                      [options]="pieChartOptions">
              </canvas>
            </div>
            <div class="labels">
                <span class="data-card">
                  <h3>COM :</h3>
                  <h3>&nbsp;{{percentageCom}}%</h3>
                </span>
              <span class="data-card">
                  <h3>Autre :</h3>
                  <h3>&nbsp;{{percentageOther}}%</h3>
                </span>
            </div>
          </div>
        </div>
      </a>

      <a class="card">
        <h2>Temps de communication moyen d'un appel</h2>
        <div class="card-content">
          <h1>{{averageWorkingCall}} s</h1>
        </div>
      </a>
      <a class="card" routerLink="/motif-fin_appel">
        <h2>Motifs de fin d'appels</h2>
        <div class="card-content">
          <div class="data-holder">
            <div class="diagram">
              <canvas baseChart
                      [data]="pieChartDataMotiveEndCall"
                      [type]="pieChartTypeMotiveEndCall"
                      [options]="pieChartOptionsMotiveEndCall">
              </canvas>
            </div>
          </div>
        </div>
      </a>

      <a class="card">
        <h2>Nombre d'appels débordés</h2>
        <div class="card-content">
          <h1>{{nbDebordement}}</h1>
        </div>
      </a>

      <a class="card">
        <div class="input-title">
          <div class="threshold-container">
            <h2 class="first">Temps d'attente supérieur à </h2>
            <div class="second">
              <div class="threshold-value threshold">
                <input #thresholdInput type="number" placeholder="Seuil" [value]="threshold" />
              </div>
              <button class="threshold-button" (click)="applyThreshold(thresholdInput.value)">✔</button>
              <h2> secondes</h2>
            </div>
          </div>
        </div>
        <div class="card-content">
          <h1>{{nbSupSeuil}} appels</h1>
        </div>
      </a>
    </div>
  </div>

  <div class="home-item">
    <date-time-filter></date-time-filter>
  </div>
</div>

