<div>
  <div class="button-container">
    <a class="button" routerLink="/date_repartition_appel">
      Nombres d'appels
    </a>
    <a class="button" routerLink="/abandon_repartition_appel">
      Nombre d'appels abandonnés
    </a>
  </div>
  <div class="diagramme">
    <h1>Repartition des appels par {{plage}}</h1>
    <div class="chart">
      <canvas baseChart
              [data]="BarChartData"
              [options]="BarChartOptions"
              [type]="'bar'">
      </canvas>
    </div>
  </div>
</div>
