<div class='container'>
  <div class='dropdown no-touch' (clickOutside)='clickedOutside()'>
    <div class='dropdown-select no-touch' (click)="toggle()">
      <div *ngIf="selected == 'All'; then defaultOption else selectedOption"></div>
      <ng-template #defaultOption>Sélectionner une caisse</ng-template>
      <ng-template #selectedOption>{{selected}}</ng-template>

      <div *ngIf="isOpen; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><caret-up></caret-up></ng-template>
      <ng-template #elseBlock><caret-down></caret-down></ng-template>
    </div>
    <div class='dropdown-content no-touch' *ngIf='isOpen'>
      <div class='dropdown-item no-touch' (click)="setSelected(null)">Sélectionner une caisse</div>
      <div class='dropdown-item no-touch' [ngClass]="{'selected': selected == caisse.viewValue}" (click)="setSelected(caisse)"
           *ngFor='let caisse of caisses'>{{caisse.viewValue}}</div>
    </div>
  </div>
</div>
