.no-touch {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.container {
  /* Box model */
  width: var(--300-px);
  height: var(--40-px);
  padding: var(--5-px) 0;
}

.dropdown {
  /* Position and layout */
  position: relative;
}

.dropdown-select {
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Box model */
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--4-px);
  height: var(--26-px);
  padding: var(--7-px) var(--8-px);

  /* Background */
  background: white;
  cursor: pointer;

  /* Typography */
  font-weight: 300;
  color: black;
}

.dropdown-content {
  /* Position and layout */
  position: absolute;
  z-index: 99;
  top: 110%;
  left: 0;

  /* Box model */
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  box-sizing: border-box;
  width: var(--300-px);

  /* Background */
  background: white;

  /* Typography */
  font-weight: 500;
  color: black;
}

.dropdown-item {
  /* Animation */
  transition: all 0.2s;

  /* Box model */
  padding: var(--15-px) var(--8-px);

  /* Background */
  cursor: pointer;

  /* Typography */
  font-weight: 300;
}

.dropdown-item:hover {
  /* Background */
  background: var(--green-primary);

  /* Typography */
  color: white;
}

.dropdown-item.selected {
  /* Typography */
  font-weight: 500;
}
