.no-touch {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.container {
  width: 300px;
  height: 40px;
  padding: 5px 0;
}

.dropdown {
  position: relative;
}

.dropdown-select {
  height: 26px;
  padding: 7px 8px;
  color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  font-weight: 300;
  background: white;
  -webkit-box-shadow: inset 0 0 2px 0 black;
  box-shadow: inset 0 0 2px 0 black;
}

.dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  font-weight: 500;
  color: black;
  width: 300px;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 2px 0 black;
  box-shadow: inset 0 0 2px 0 black;
  z-index: 99;
}

.dropdown-item {
  padding: 15px 8px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background: var(--green-primary);
  color: white;
}

.dropdown-item.selected {
  font-weight: 500;
}
