/*************************************************************************************************/
/* General use classes ***************************************************************************/
/*************************************************************************************************/
.hidden {
  /* Display and visibility */
  visibility: hidden;
}

/*************************************************************************************************/
/* Filter ****************************************************************************************/
/*************************************************************************************************/
.filter-container {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* Box model */
  border: 2px solid var(--container-border);
  width: 25em;
  height: fit-content;
  padding: 1.25em;

  /* Background */
  background-color: var(--container-fill);
}

.filter-container {
  margin-bottom: 1em;
}

.confirm-button {
  /* Box model */
  margin-top: var(--21-px);
  border: none;
  min-width: fit-content;
  width: 50%;
  padding: var(--12-px);

  /* Background */
  background-color: var(--green-primary);
  cursor: pointer;

  /* Typography */
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.confirm-button:hover {
  filter: brightness(125%);
}

.date-container {
  /* Flexbox */
  display: flex;
  justify-content: center;

  /* Box model */
  width: 100%;
  padding-bottom: var(--16-px);
}

.input-date {
  /* Box model */
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--10-px);
  width: 90%;

  /* Background */
  background: white;
}

.time-container {
  /* Flexbox */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  /* Box model */
  width: 100%;
}

.input-value {
  /* Flexbox */
  display: flex;

  /* Box model */
  margin-bottom: 0.25em;
  min-height: 2em;
  -webkit-box-shadow: inset 0 0 var(--2-px) 0 black;
  box-shadow: inset 0 0 var(--2-px) 0 black;
  border-radius: var(--4-px);
  padding: var(--6-px);

  /* Background */
  background: white;
}

input {
  /* Box model */
  border: none;
  max-width: 8em;

  /* Background */
  background: none;
}

input:focus {
  outline: none;
}
