<div class="filter-container" [ngClass]="{'hidden': getCurrentCaisse() == -1}">
  <div class="multi-select" id="groupe-appele">
    <div class="multi-header">
      <h2 class="multi-title">Groupes de trafic</h2>
      <div class="select-deselect">
        <span class="ms-all" (click)="setAllGt(true)">Cocher tout</span>
        <span class="ms-all" (click)="setAllGt(false)">Décocher tout</span>
      </div>
    </div>
    <span class="list-section">
            <ul>
                <li *ngFor="let subfiltre of filtreGt.subfiltres">
                  <mat-checkbox
                    [(ngModel)]="subfiltre.completed"
                    color="primary"
                    (ngModelChange)="setGtSelected()">
                    {{subfiltre.name}}
                  </mat-checkbox>
                </li>
              </ul>
          </span>
  </div>

  <hr/>

  <div class="multi-select" id="agences">
    <div class="multi-header">
      <h2 class="multi-title">Agences</h2>
      <div class="select-deselect">
        <span class="ms-all" (click)="setAllAgences(true)">Cocher tout</span>
        <span class="ms-all" (click)="setAllAgences(false)">Décocher tout</span>
      </div>
    </div>
    <span class="list-section">
             <ul>
               <li *ngFor="let subfiltre of filtreAgence.subfiltres">
                 <mat-checkbox
                   [(ngModel)]="subfiltre.completed"
                   color="primary"
                   (ngModelChange)="setAgenceSelected()">
                   {{subfiltre.name}}
                 </mat-checkbox>
               </li>
             </ul>
            </span>
  </div>

  <button class="confirm-button" (click)="updateFiltres()">Appliquer</button>
</div>
