<div class="filter-container">
  <div class="multi-select">
    <div class="multi-header">
      <h2 class="multi-title">Horaires</h2>
    </div>
    <span class="list-section">
      <ul>
        <li><mat-checkbox [(ngModel)]="openHours" color="primary" (ngModelChange)="setOpenHours()">Horaires ouvrés</mat-checkbox></li>
        <li><mat-checkbox [(ngModel)]="nonOpenHours" color="primary" (ngModelChange)="setNonOpenHours()">Horaires non ouvrés</mat-checkbox></li>
      </ul>
    </span>
  </div>

  <button class="confirm-button" (click)="updateHours()">Appliquer</button>
</div>
