<div class='overlay' *ngIf="isOverlayOpen">
  <div class='spinner-overlay' *ngIf="loading">
    <div class="spinner"></div>
  </div>
  <div class='upload-container' (clickOutside)="closeOverlay()">
    <h1>Importer un CSV</h1>

    <div class='upload-area'>
      <input type="file" name="file" id="file" class="upload-input" accept=".xlsx" (change)="onChange($event)"/>
      <label for="file">{{getFileName()}}
        <search></search>
      </label>
      <span class="error" [ngClass]="{'hidden': !error}">Veuillez sélectionner un fichier.</span>
    </div>

    <button class='upload-button' (click)="upload()">Importer</button>
  </div>
</div>
