.boutons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}

.bouton-lien {
  background-color: var(--teal-primary);
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  height: fit-content;
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 1em;
  transition: padding 0.2s;
  text-decoration: none;
}

.bouton-lien:not(.desactive):hover {
  font-weight: 400;
  padding: calc(2em / 3) 1em;
  cursor: pointer;
}

.desactive {
  background-color: var(--green-primary);
  font-weight: 500;
  padding: 0.75em 1em;
}

.diagramme {
  /* Flexbox */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.diagramme h1 {
  /* Box model */
  margin: 0.5em 0;

  /* Typography */
  text-align: center;
}

.diagramme .chart {
  /* Box model */
  width: 100%;
  padding: 0 2em;
  min-height: 45em;
}
